*{
    box-sizing: border-box;
    margin: 0;
}

body{
background: url(../Imagenes/Imagen1.jpg);
background-size: cover;
background-position:center ;
background-repeat: no-repeat;
color: black;
font-family: 'Joan', serif;
height: 100vh;
}

nav{
    background-color:lightsteelblue;
    width: 100%;
}

.menu{
list-style: none;
margin: 0;
padding: 0;
width: 100%;
}
.lista a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 15px 50px;
}
.menu .lista{
    display: inline-block;
}

.lista-r{

float: right;
}
.lista a:hover{
    background-color: tomato;
}

main{
    text-align: center;
}
img{
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
     border: 10px solid black ;
}
p{
font-size: 22px;
font-weight: 600;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(99, 114, 129, 0.6);
    color:black;
}
label{
    font-size: 22px;
    font-weight: 600;
}

#textarea{

    border: 0;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(22,66,110,0.6);
    color: black;
}
button[type="submit"]{
background: rgba(22,66,110,0.6);
color: black;
padding: 10px;
font-family: 20px;
font-weight: 600;
border-radius: 5px;
}

input::placeholder{
    color:black
}

input:focus{
    outline: none;
    background-color: rgba(22,66,110,0.6);
}



    
#parte1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 #parte2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#parte3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    

#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#Tipos{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(99, 114, 129, 0.6);
    color:black;
}

#parte2 label{

    display: block;
}

#parte3 label{

    display: block;
}